<script>
window.onload = function(){
//bourreau();
}

var decapite=false;
function bourreau(){
if (decapite)
{
	$('mouton').style.top="21px"
	$('condamne').style.top="92px"

	decapite=false;
}
else 
{
	var myFx = new Fx.Tween('mouton', {property: 'top',transition: Fx.Transitions.Quint.easeIn, duration:250});
	myFx.start(21,115).chain(
		function(){
			$("condamne").set('tween', {transition: Fx.Transitions.Bounce.easeOut, duration:500});
			$('condamne').tween('top', 220);
		}
	);
	
}

</script>

<button id="decapiter" onclick="bourreau()">DECAPITER</button>









<div id="laguillotine">
	<div id="background">
	<%=image_tag("background.jpg")%>
	</div>
	<div id="guillotine">
	<%=image_tag("guillotine.jpg")%>
	</div>
	<div id="mouton">
	<%=image_tag("mouton.jpg")%>
	</div>
	<div id="condamne">
	<%=image_tag("o.png")%>
	</div>
	<div id="aumonier">
	<%=image_tag("t.jpg")%>
	</div>



</div>
